#
# copy to ../docker-composer.secret.yml
# hhj@centrum.cz
#
version: '2'

services:
    mariadb:
        environment:
            MYSQL_DATABASE: mvchriste
            MYSQL_USER: laradock
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root
